
html{
    scroll-behavior: smooth;
    body{
            height: 200vh;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            background-color: blue;
        
        a{
            text-decoration: none;
        }
        .rojo{
            background-color:red;
            width: 12.5vw;
            height: 25vh;
            margin: 10vh 30vw;
        }
    }
}